/*
  Table of Contents
  
    1. Base
    2. Layout
    3. Modules
    4. Theme
*/

/*  1. Global Styles */

/*  2. Base */
body{
  display:flex;
  flex-direction:column;
  overflow-x:hidden;
  z-index:-1;
}
header{
  display:flex;
  justify-content:space-between;
  margin: 15px 15px;
}
input{
  color: hsl(208, 11%, 55%);
  background-color:white;
  padding:5px 15px;
  border-style:none;
}
/*  3. Layout */
.features{
  margin:20px 0;
}
/*  4. Module */
.section{
  padding:30px 15px;
  margin:30px 0;
  overflow:hidden;
  text-align:center;
}
.logo{
  width:125px;
  height:25px;
}
.mainImg{
  height:25%;
  width:100%;
  margin:50px auto;
}
/*  4.1 Theme */
svg{
  position:absolute;
  z-index:-1;
  height:400px;
  width:500px;
  bottom:300px;
  left:60%;
  transform: rotate(-30deg);
}